include layout/init-template.pug

- var caption = "Завершение регистрации";
- var headerImg = "https://estiw.ru/Content/images/e_mail/header.png"
- var icn = "https://estiw.ru/Content/images/e_mail/account-activate.png"
-var blockOne = "Чтобы завершить процедуру регистрации, необходимо активировать Ваш аккаунт. Это можно сделать нажав кнопку ниже:"
-var btnCaption = "Активировать аккаунт"
-var btnType = "green"
-var blockTwo = "Либо, перейдите по указанной ссылке:<br><a href='https://my.estiw.ru/registration/activate' style='color:#0073BE;text-decoration:none;' target='_blank'>https://my.estiw.ru/registration/activate<br></a><br>Ваш логин (имя пользователя) в системе:<br><strong>yourSystemLogin</strong><br><br>Приятного использования сервиса!<br>"

html
    +initTemplate({caption: caption, 
                   headerImg: headerImg,
                   icn: icn,
                   blockOne: blockOne,
                   btnCaption: btnCaption,
                   btnType: btnType,
                   blockTwo: blockTwo
                   })
