include layout/init-template.pug

- var caption = "Новое сообщение";
- var headerImg = "https://estiw.ru/Content/images/e_mail/header.png"
- var icn = "https://estiw.ru/Content/images/e_mail/new-msg.png"
-var blockOne = "<a href='#' style='color:#0073BE;text-decoration:none;' target='_blank'>Константин Константинопольский</a> отправил вам новое сообщение по теме <strong>«Формирование запроса на доставку шин»:</strong>"
-var btnCaption = "Перейти к сообщению"
-var btnType = "purple"
-var blockTwo = "Либо, перейдите по указанной ссылке:<br><a href='https://my.estiw.ru/hfsjjhrhHghskkh' style='color:#0073BE;text-decoration:none;' target='_blank'>https://my.estiw.ru/hfsjjhrhHghskkh<br></a><br><br>Приятного использования сервиса!<br>"

html
    +initTemplate({caption: caption, 
                   headerImg: headerImg,
                   icn: icn,
                   blockOne: blockOne,
                   btnCaption: btnCaption,
                   btnType: btnType,
                   blockTwo: blockTwo
                   })