include layout/init-template.pug

- var caption = "Запрос рассчитан";
- var headerImg = "https://estiw.ru/Content/images/e_mail/header.png"
- var icn = "https://estiw.ru/Content/images/e_mail/request-calculating2.png"
-var blockOne = "Запрос <strong>«Доставка контейнеров из Кореи»</strong> рассчитан. Чтобы просмотреть варианты цен, нажмите на кнопку:"
-var btnCaption = "Перейти к запросу"
-var btnType = "green"
-var blockTwo = "Либо, перейдите по указанной ссылке:<br><a href='https://my.estiw.ru/registration/activate' style='color:#0073BE;text-decoration:none;' target='_blank'>https://my.estiw.ru/registration/activate<br></a><br><br>Приятного использования сервиса!<br>"

html
    +initTemplate({caption: caption, 
                   headerImg: headerImg,
                   icn: icn,
                   blockOne: blockOne,
                   btnCaption: btnCaption,
                   btnType: btnType,
                   blockTwo: blockTwo
                   })