//- line
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;">
<tbody>
<tr>
<td style="padding-left:15px; padding-right:15px;">
<table align="center" class="r" style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:640px;">
<tbody>
<tr>
<td style="padding-left:0;padding-right:0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td height="1px" style="height:1px; background-color:#e6e6e6;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
//- end line
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;">
<tbody>
<tr>
<td style="padding-left:15px; padding-right:15px;">
<table align="center" class="r" style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:640px;">
<tbody>
<tr>
<td style="padding-top:30px;padding-bottom:30px;padding-left:30px;padding-right:30px;">
<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
<tbody>
<tr>
<td style="text-align: center; padding: 0 0 0;">
<div style="margin: 0 auto; font-family: Lucida Grande, Tahoma, Arial; color:#e6e6e6;font-size:14px;line-height:1.4;">
<a href="#" style="color:#0073BE;text-decoration:none;padding-right: 10px;">О компании</a> | <a href="#" style="color:#0073BE;text-decoration:none;padding-right: 10px;padding-left: 10px;">Услуги</a> | <a href="#" style="color:#0073BE;text-decoration:none;padding-right: 10px;padding-left: 10px;">Партнерам</a> | <a href="#" style="color:#0073BE;text-decoration:none;padding-right: 10px;padding-left: 10px;">Новости</a> | <a href="#" style="color:#0073BE;text-decoration:none;padding-right: 10px;padding-left: 10px;">Контакты</a> | <a href="#" style="color:#0073BE;text-decoration:none;padding-left: 10px;">Вход в ЛК</a><br>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>