mixin headerImg (headerImg)
    <table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;">
    <tbody>
    <tr>
    <td style="padding-left:15px; padding-right:15px;">
    <table align="center" class="r" style="margin: 0 auto;border-spacing: 0;width:640px;">
    <tbody>
    <tr>
    <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
    <tbody>
    <tr>
    <td style="width:100%; text-align: center;">
    <a href="http://estiw.com" target="_blank"><img align="center" src="#{headerImg}" style="width: 100%; height: auto;" width="640"></a>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table><!--End header-->