include header-img.pug
include icn-cap.pug
include block-one.pug
include btn-green.pug
include btn-purple.pug
include btn-red.pug
include block-two.pug

mixin initTemplate (params)
    <head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=400" name="viewport">
    <title>Message</title><!-- og:meta -->
    <meta content="Message" property="og:title">
    <meta content="" property="og:description"><!-- /og:meta -->
    <link href="https://ESTIW.ico" rel="shortcut icon">
    <style type="text/css">.ExternalClass {width:100%;}    img{ border:0 none; height:auto; line-height:100%; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; }   a img{ border:0 none;   }   #outlook a {padding:0;} #allrecords{ height:100% !important; margin:0; padding:0; width:100% !important; -webkit-font-smoothing: antialiased; line-height: 1.45;    }   #allrecords td{ margin:0; padding:0;    }   #allrecords ul{-webkit-padding-start:30px;} #allrecords a{color:#0073be;text-decoration: none;} @media only screen and (max-width: 640px) { .r{ width:100% !important;  min-width:400px !important; }   }   @media only screen and (max-width: 480px) { .t-emailBlock { display: block !important; padding-left: 0 !important; padding-right: 0 !important; width: 100% !important; } .t-emailBlockPadding { padding-top: 15px !important; } .t-emailBlockPadding30 { padding-top: 30px !important; } .t-emailAlignLeft { text-align: left !important; margin-left: 0 !important; } .t-emailAlignCenter { text-align: center !important; margin-left: auto !important; margin-right: auto !important; } }
    </style>
    </head>
    <body style="padding: 0; margin: 0; border: 0; width:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color: #e5e5e5;">
    <table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; padding:0; margin:0; border:0;">
    <tbody>
    <tr>
    <td style="background-color: #e5e5e5;">
        <!-- grey -->
        <table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;">
            <tbody>
            <tr>
            <td style="padding-left:15px; padding-right:15px;">
            <table align="center" class="r" style="margin: 0 auto;border-spacing: 0;width:640px;">
            <tbody>
            <tr>
            <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
            <td height="30px" style="height:30px;"></td>
            </tr>
            </tbody>
            </table>
            </td>
            </tr>
            </tbody>
            </table>
            </td>
            </tr>
            </tbody>
        </table>

        +headerImg (params.headerImg)
        +icnCap (params.icn, params.caption)
        +blockOne (params.blockOne)
        
        if params.btnType=="green"
            +btnGreen (params.btnCaption)
        if params.btnType=="purple"
            +btnPurple (params.btnCaption)
        if params.btnType=="red"
            +btnRed (params.btnCaption)    

        +blockTwo (params.blockTwo)
        include footer.pug
        include resume.pug

    </td>
    </tr>
    </tbody>
    </table>
    </body>